PZ_SERVER_NAME=ServerName
PZ_SERVER_PASSWORD=password_server

PZ_ADMIN_USERNAME=admin
PZ_ADMIN_PASSWORD=password_admin

PZ_RCON_PASSWORD=password_rcon

PZ_DEDICATED_SERVER_DIR=/absolute/path/to/DedicatedServer
PZ_ZOMBOID_DATA_DIR=/absolute/path/to/Zomboid
PZ_ENTRYPOINT_FILE=./entrypoint.sh
